.ipynb_checkpoints
01.tensorboard/**/data/
01.tensorboard/**/.ipynb_checkpoints/
01.tensorboard/pytorch/profiler/
02.debugger/.ipynb_checkpoints/
02.debugger/data
02.debugger/profiler*
03.pipelines/data
03.pipelines/train_model/.ipynb_checkpoints/
03.pipelines/.ipynb_checkpoints/
04.batch_transform/xgboost/source_dir/.ipynb_checkpoints/
04.batch_transform/xgboost/.ipynb_checkpoints/xgboost_batch_transform-checkpoint.ipynb
06.processing/01.sm-processing-w-boto3/data/
06.processing/02.sm-processing-byoc-w-pipelines/data/
07.automl
