01.tensorboard/**/data/
01.tensorboard/**/.ipynb_checkpoints/
01.tensorboard/pytorch/profiler/
02.debugger/.ipynb_checkpoints/
02.debugger/data
02.debugger/profiler*
03.pipelines/data
03.pipelines/train_model/.ipynb_checkpoints/
03.pipelines/.ipynb_checkpoints/
04.batch_transform/xgboost/source_dir/.ipynb_checkpoints/
04.batch_transform/xgboost/.ipynb_checkpoints/xgboost_batch_transform-checkpoint.ipynb
